.container{
    display: flex;
    margin: 20px;
    /* background-color:rgb(160,90,60); */
    text-align:center;
    flex-direction: column;
    color: aliceblue;
}

body{
    background-color:rgb(160,90,60);
}